@page "/topics"
<h3>Interests Descriptions for Area 2 as tiles</h3>
@if (saved)
{
    <div class="alert alert-success" role="alert">
        Your answers have been submitted!
    </div>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <a href="/dynamic">
                <div class="tile">
                    <h2>SVB</h2>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="/dynamic">
                <div class="tile">
                    <h2>Elon Musk</h2>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a href="/p4">
                <div class="tile">
                    <h2>Trump</h2>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="/p5">
                <div class="tile">
                    <h2>War in Ukraine</h2>
                </div>
            </a>
        </div>
    </div>
</div>
<style>
    .tile {
        background-color: #eee;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .tile:hover {
            background-color: #ddd;
        }
</style>


@code {
    private bool saved;

}
